---
import { getEntry } from 'astro:content';
import { BindLightboxData } from '@daks.dev/astro.sdk/astro';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

export const prerender = true;

const data = (await getEntry('gallery', 'forensic-examination'))?.data.default;

const title = 'Судебная экспертиза';
const description = 'Судебная экспертиза';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class:list={['frame readable', 'flex flex-col md:block']}
    itemprop='mainContentOfPage'>
    {
      data && (
        <BindLightboxData
          client='load'
          {data}
          class={[
            'max-md:order-2 max-md:mt-8 md:float-right md:my-1 md:ml-8',
            'flex flex-col place-content-center gap-y-8'
          ]}
          options={{ behaviour: 'loop' }}
          transform={{
            thumb: {
              width: 288,
              fit: 'cover',
              quality: 80
            },
            modal: {
              width: 800,
              fit: 'inside',
              quality: 80
            }
          }}
          sign={{ custom: 'iconify ph--arrows-out', dark: true }}
          {title}
          description='АО НИЦ «Строительная Экспертиза»'
          alt={title.toLowerCase()}
          adaptive
          scale
          shadow
        />
      )
    }

    <p>
      Научно-исследовательский центр «<b>Строительная экспертиза</b>» является членом
      <a
        href='//www.sudex.ru/'
        target='_blank'>
        Палаты судебных экспертов НП «СУДЭКС»
      </a>
      и обладает большим опытом в проведении различных экспертиз, в том числе судебных и досудебных.
    </p>
    <p class='leader'>
      Наши сотрудники являются дипломированными судебно-техническими экспертами, имеют научные
      степени, высшее специальное образование и многолетний опыт работ в:
    </p>
    <ul>
      <li>
        анализе смет (проектно-сметной документации) на строительство и ремонт, а также составление
        строительных смет;
      </li>
      <li>
        строительном конструировании, анализе, контроле качества строительных работ и надежности
        конструкций, экспертизе технологии, организации производства работ, экономики строительства;
      </li>
      <li>
        сборе и обработке информации об использовании энергетических ресурсов для энергетического
        паспорта;
      </li>
      <li>
        проведении исследований строительных объектов и территорий, функционально связанных с ними,
        подготовке заключения по поставленным компетентными органами вопросам;
      </li>
      <li>
        оценке безопасности эксплуатации зданий, сооружений, попадающих под действие закона «о
        промышленной безопасности опасных производственных объектов» РД 22-01.97;
      </li>
      <li>экспертном заключении о готовности здания или сооружения к сдаче в эксплуатацию;</li>
      <li>инженерно-техническом обследовании зданий и сооружений различного назначения;</li>
      <li>
        технадзоре при строительстве крупных промышленных или административных объектов, при
        строительстве и ремонте частных коттеджей;
      </li>
      <li>проверке всех строительных работ;</li>
      <li>оценке и переоценке недвижимой собственности.</li>
    </ul>
    <p>
      Также мы предоставляем весь комплекс работ по лабораторному сопровождению на объектах
      строительства с проведением испытаний и контролем качества материалов, изделий и конструкций.
    </p>
  </main>
</Layout>
