---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';
import ActivityCard from '@components/astro/pages/activity/ActivityCard.astro';

import { activity } from '@app/configs/nav';

const title = 'Деятельность';
const description = 'Деятельность';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    <div class:list={['mx-auto w-fit', 'grid grid-cols-none gap-8 md:grid-cols-2 lg:gap-16']}>
      {
        activity &&
          activity.map(({ href, label }) => (
            <ActivityCard
              class='oversee:bg-slate-300/20 w-full'
              href={`/activity${href}`}>
              <div
                slot='header'
                class:list={[
                  'leader',
                  'transition-easy text-accent dark:text-accent group-oversee:text-brand',
                  'group-oversee:drop-shadow-md'
                ]}
                set:html={label}
              />
            </ActivityCard>
          ))
      }
    </div>
  </main>
</Layout>
