---
import { getEntry } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';
import { BindLightboxData } from '@daks.dev/astro.sdk/astro';

const data = (await getEntry('gallery', 'permissions'))?.data.default;

const title = 'Допуски';
const description = 'Допуски, сертификаты, лицензии';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    {
      data && (
        <BindLightboxData
          client='load'
          {data}
          class={['justify-items-center gap-8', 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}
          options={{ behaviour: 'loop' }}
          transform={{
            thumb: {
              width: 320,
              quality: 80
            },
            modal: {
              width: 800,
              fit: 'inside',
              quality: 80
            }
          }}
          sign={{ custom: 'iconify ph--arrows-out', class: 'top-2 left-2', dark: true }}
          {title}
          description='АО НИЦ «Строительная Экспертиза»'
          alt='допуск ниц «строительная экспертиза»'
          grid
          adaptive
          scale
          shadow
        />
      )
    }
  </main>
</Layout>
