---
import { Link } from '@daks.dev/astro.sdk/astro';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

export const prerender = true;

import { activity } from '@app/configs/nav';
const items = activity.find((x) => x.href === '/laboratory-control')?.items;

const title = 'Лабораторный контроль';
const description = 'Лабораторное сопровождение строительства';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame readable'
    itemprop='mainContentOfPage'>
    {
      items && (
        <div class:list={['max-sm:hidden', 'float-right -mt-1 ml-8', 'grid grid-cols-1 gap-y-4']}>
          {items.map(({ href, label, itemprop = 'relatedLink', ...item }) => (
            <Link
              class={[
                'group relative',
                'w-full px-3 py-4',
                'flex flex-col items-center',
                'text-center text-base',
                'bg-slate-500/10 hover:bg-slate-500/20',
                'rounded-xl'
              ]}
              href={`/activity/laboratory-control${href}`}
              {itemprop}
              {...item}>
              <span
                class:list={[
                  'iconify ph--file-text',
                  'block size-18',
                  'text-slate-600 group-hover:scale-125 group-hover:text-theme-link-hover',
                  'duration-500 ease-in-out motion-safe:ready:transition'
                ]}
              />
              <span
                class='pt-1 pb-2'
                set:text={label}
              />
            </Link>
          ))}
        </div>
      )
    }

    <p>
      <strong>Лабораторное сопровождение</strong>, выполняемое Научно-исследовательским центром
      «Строительная экспертиза», подразделяется на два этапа. Первый этап контроля &mdash; входной
      контроль строительных материалов и конструкций. Во время поставки материалов на строительную
      площадку нашими специалистами может контролироваться до 50 параметров одновременно. Прежде
      всего, это физико-механические свойства, химические и геометрические параметры, а также оценка
      состояния конструкций по визуальным признакам. Данный вид контроля позволяет минимизировать
      риски строительных компаний и инвесторов еще на ранней стадии, и отбраковать некондиционный
      материал и конструкции.
    </p>

    <p>
      Второй тип контроля, но не менее важный, чем первый &mdash; текущий. Различные виды и типы
      измерений, производимые в процессе возведения зданий и сооружений, являются, бесспорно,
      наиболее ответственными.
    </p>

    <p>
      <strong>Лабораторный контроль</strong>, проводимый в процессе строительства, зачастую
      выполняется совместно с дефектоскопией и комплексным обследованием возведенных конструкций,
      давая тем самым возможность полностью представить состояние возводимого здания, а также
      оценить изменения в его жесткости и устойчивости.
    </p>

    <p>
      Одним из преимуществ Научно-исследовательского центра «Строительная экспертиза», является
      собственная лабораторная база, оснащенная самым современным комплексом испытательного
      оборудования.
    </p>

    <p class='leader'>
      Структура лаборатории НИЦ «Строительная экспертиза» состоит из трех взаимодополняемых
      подразделений:
    </p>

    <ul>
      <li>
        <Link
          href='/articles'
          itemprop='relatedLink'
          set:text='Лабораторная база'
        /> &mdash; обязательный элемент любой лаборатории занимающейся испытанием строительных материалов
        и конструкций. Наши стенды позволяют проводить испытания образцов бетонных, каменных и армокаменных
        конструкций, бетонных балок и образцов ячеистого бетона на сжатие и изгиб, а также испытывать
        образцы арматурных изделий и муфтовых соединений на растяжение.
      </li>
      <li>
        <Link
          href='/activity/laboratory-control/field-tests'
          itemprop='relatedLink'
          set:text='Натурные исследования'
        /> &mdash; большая часть лабораторных исследований проводимых нашим Научно-исследовательским
        центром, приходится на определение различных характеристик строительных конструкций и материалов
        в построечных условиях. Именно поэтому мы оснастили собственную лабораторию самым современным
        инструментом и оборудованием, позволяющим проводить любого типа испытания при возведении монолитных
        железобетонных зданий и сооружений промышленного и гражданского назначения, в том числе и уникальных,
        высотных и технически сложных объектов. Испытательное оборудование от лидеров по производству
        подобных приспособлений, дает нам неоспоримые преимущества при проведении натурных испытаний,
        такие как – точность измерений, скорость камеральной обработки результатов, время, необходимое
        для вывода данных.
      </li>
      <li>
        <Link
          href='/articles/mobile-laboratory'
          itemprop='relatedLink'
          set:text='Мобильная испытательная лаборатория'
        /> &mdash; уникальная разработка НИЦ «Строительная экспертиза» не имеющая аналогов по своей функциональности
        и насыщенности современным испытательным оборудованием, на Российском рынке. Мобильная лаборатория
        создана на базе грузопассажирского Peugeot Boxer и оснащена оборудованием, позволяющим вести
        входящий контроль качества строительных материалов, контролировать соблюдение технологических
        регламентов в процессе возведения зданий и сооружений, а также производить комплексное обследование
        объектов при завершении строительства и в процессе эксплуатации.
      </li>
    </ul>

    <p>
      Конечно же, наличие самого современного инструмента и оборудования не могло бы дать нам
      возможность вести научно-техническую деятельности без высококвалифицированного персонала. Все
      сотрудники Научно-технического центра «Строительная экспертиза» имеют не только профильное
      высшее образование, но и систематически проходят курсы переподготовки и обучения.
    </p>

    <p>
      Высочайший уровень подготовки наших специалистов, а также наличие комплексов необходимого
      оборудования, для проведения различных исследований свойств строительных конструкций и
      материалов, подтверждено допусками Саморегулирующей СРО НП «Объединение проектных
      организаций», лаборатория аттестована в Системе добровольной сертификации «МЕЖРЕГИОНСТАНДАРТ»
      требованиям ГОСТ, в структуре АО НИЦ «Строительная экспертиза» внедрена система менеджмента по
      стандартам ИСО серии 9000.
    </p>

    <p class='leader'>Специалисты лаборатории НИЦ «Строительная экспертиза» выполняют:</p>

    <ul class='mb-8'>
      <li>
        Лабораторный контроль качества строительно-монтажных материалов в том числе сварочных работ.
      </li>
      <li>Лабораторный контроль качества строительных материалов.</li>
      <li>
        Физико-механические испытания строительных материалов разрушающим и неразрушающими методами.
      </li>
      <li>Определение плотности грунтов основания.</li>
      <li>Подбор составов бетонов с заданными свойствами.</li>
    </ul>

    <table class='mb-8 text-xs xs:text-sm'>
      <tbody>
        <tr>
          <th>№ п/п</th><th>Наименование испытываемой продукции</th><th
            >Наименование лабораторных испытаний</th
          >
        </tr>
        <tr>
          <td>1</td>
          <td>Бетоны тяжелые и мелкозернистые</td>
          <td>
            <ul>
              <li>Прочность на сжатие, изгиб в т.ч. неразрушающими методами</li>
              <li>Морозостойкость ускоренным методом по ГОСТ 10060.2</li>
              <li>Водонепроницаемость</li>
              <li>Водопоглощение</li>
              <li>Пористость</li>
              <li>Плотность</li>
              <li>Влажность</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Бетонные смеси</td>
          <td>
            <ul>
              <li>Удобоукладываемость</li>
              <li>Средняя плотность</li>
              <li>Объем вовлеченного воздуха</li>
              <li>Расслаиваемость</li>
              <li>Сохраняемость свойств во времени</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>Растворы</td>
          <td>
            <ul class='стиль36'>
              <li>Прочность на сжатие,изгиб</li>
              <li>Водоудерживающая способность</li>
              <li>Расслаиваемость</li>
              <li>Средняя плотность</li>
              <li>Влажность</li>
              <li>Подвижность</li>
              <li>Морозостойкость</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>Кирпич и камни <br />керамические</td>
          <td>
            <ul>
              <li>Прочность</li>
              <li>Водопоглощение</li>
              <li>Внешний вид, масса</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>Щебень</td>
          <td>
            <ul>
              <li>Зерновой состав</li>
              <li>Прочность</li>
              <li>Содержание зерен слабых пород</li>
              <li>Содержание пылевидных и глинистых частиц</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>Песок</td>
          <td>
            <ul>
              <li>Зерновой состав</li>
              <li>Содержание глины в комках</li>
              <li>Содержание пылевидных и глинистых частиц</li>
              <li>Истинная плотность</li>
              <li>Насыпная плотность</li>
              <li>Влажность</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>7</td>
          <td>Арматурные и закладные изделия сварные, соединения сварные</td>
          <td>
            <ul>
              <li>Растяжение</li>
              <li>Временное сопротивление при разрыве,</li>
              <li>Удлинение и предел текучести, изгиб</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>8</td>
          <td>Цементы</td>
          <td>
            <ul>
              <li>Тонкость помола</li>
              <li>Нормальная густота, сроки</li>
              <li>схватывания и равномерность</li>
              <li>изменения объема</li>
              <li>Прочность</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>9</td>
          <td>Бетоны легкие, ячеистые<br /></td>
          <td>
            <ul>
              <li>Прочность</li>
              <li>Плотность</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>10</td>
          <td
            >Теплоизоляционные материалы, в т.ч:<br />&dash; пенополистирол; <br />&dash; плиты
            минватные</td
          >
          <td>
            <ul>
              <li>Геометрическая форма</li>
              <li>Плотность, влажность, сорбционная влажность, —</li>
              <li>Водопоглощение,</li>
              <li>
                прочность на сжатие при 10%-ной линейной деформации, предел прочности при сжатии,
                изгибе и растяжении, сжимаемость и упругость, гибкость, линейная температурная
                усадка
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>11</td>
          <td
            >Отделочные материалы в т.ч.: <br />&dash; линолеум; <br />&dash; керамическая плитка</td
          >
          <td>
            <ul>
              <li>Геометрические параметры,</li>
              <li>Водопоглощение, предел прочности при изгибе,</li>
              <li>Термическая стойкость глазури</li>
              <li>Изменение линейных размеров,</li>
              <li>Влажность, плотность,</li>
              <li>Неровность по массе</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>12</td>
          <td>Грунт <br /></td>
          <td>
            <ul>
              <li>Плотность</li>
              <li>Влажность, оптимальная влажность</li>
              <li>Степень уплотнения</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>13</td>
          <td>Железобетонные конструкции</td>
          <td>
            <ul>
              <li>Толщина защитного слоя</li>
              <li>Расположение арматуры</li>
              <li>Прочность</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>14</td>
          <td>Материалы рулонные, кровельные и гидроизоляционные</td>
          <td>
            <ul>
              <li>Геометрические параметры</li>
              <li>Водопоглощение</li>
              <li>Теплоустойчивость</li>
              <li>Изменение линейных размеров при нагревании</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      Сотрудники нашей лаборатории имеют большой опыт в испытании строительных материалов и
      конструкций, что приводит к высокой производительности и снижению стоимости и сроков
      оформления отчетной документации. Необходимо отметить, что мы работаем только по
      государственным расценкам и в четко оговоренные сроки. Выезд на стройплощадку и подписание
      договора возможен в день обращения.
    </p>
  </main>
</Layout>
