---
import { twMerge } from '../../../tailwind/tailwind-merge.js';
import Button from '../button/Button.astro';
import Link from '../link/Link.astro';
import Icon from '../icon/Icon.astro';
import { uuid as u } from '../../utils/index.js';
import type { HTMLAttributes } from 'astro/types';
import type { NavItem } from '../index.d.ts';

type Props = Omit<HTMLAttributes<'div'>, 'class'> & {
  toggle: NavItem;
  class?: ClassValue;
  custom?: Record<string, ClassValue>;
};

const { toggle, class: className, custom = {}, ...props } = Astro.props;

const { href, role = 'menuitem', type: _0, ...propsToggle } = toggle;

const uuid = u();

const Component = href ? Link : Button;
---

<div
  is='app-dropdown'
  class={twMerge('relative', 'ready:transition-transform ready:duration-200', custom.frame)}
  {...props}>
  <Component
    id={`app-dropdown-toggle${uuid}`}
    class={twMerge('group', 'flex gap-x-1', 'page:enabled', className)}
    {href}
    {role}
    type={href ? undefined : 'button'}
    {...propsToggle}
    aria-expanded='false'
    aria-controls={`app-dropdown-appear${uuid}`}>
    <Icon
      slot='after'
      icon='caret-up'
      class='disabled -rotate-90 group-aria-expanded:rotate-180'
      size='.75em'
    />
  </Component>

  <div
    id={`app-dropdown-appear${uuid}`}
    class={twMerge(
      'bp:absolute bp:top-full static',
      'w-max min-w-full overflow-hidden',
      'flex flex-col',
      'aria-hidden:disabled aria-hidden:opacity-0',
      'aria-hidden:my-0 aria-hidden:max-h-0 aria-hidden:py-0 aria-hidden:text-[0] aria-hidden:leading-[0]',
      'max-bp:aria-hidden:max-w-0',
      'bp:origin-top origin-top-left',
      'ready:transition-all ready:duration-200',
      custom.drop
    )}
    aria-owns={`app-dropdown-toggle${uuid}`}
    aria-hidden='true'>
    <slot />
  </div>
</div>

<script>
  import { navigate } from 'astro:transitions/client';
  import { beep } from '../../utils/audio.js';
  import breakpoint from '../../../tailwind/resolve.js';

  class AppDropdown extends HTMLDivElement {
    media = window.matchMedia(`(min-width: ${breakpoint})`);

    constructor() {
      super();
    }

    connectedCallback() {
      window.addEventListener('resize', this.bind);
      document.addEventListener('astro:page-load', this.bind, { once: true });
      document.addEventListener('click', this.handleOutside);
      this.toggle.addEventListener('click', this.handleToggle);
      this.toggle.addEventListener('dblclick', this.handleNavigate);
    }

    disconnectedCallback() {
      window.removeEventListener('resize', this.bind);
      document.removeEventListener('click', this.handleOutside);
    }

    toggle = this.children[0] as HTMLAnchorElement;

    drop = this.children[1] as HTMLDivElement;

    actives = this.drop.querySelectorAll('a, button, [role="button"]');

    get hidden() {
      return this.drop.getAttribute('aria-hidden') === 'true';
    }

    set hidden(val) {
      if (this.hidden !== val) {
        if (val) {
          this.toggle.setAttribute('aria-expanded', 'false');
          this.drop.setAttribute('aria-hidden', 'true');
          this.actives.forEach((el) => el.setAttribute('tabindex', '-1'));
        } else {
          this.toggle.setAttribute('aria-expanded', 'true');
          this.drop.removeAttribute('aria-hidden');
          this.actives.forEach((el) => el.removeAttribute('tabindex'));
        }
      }
    }

    bind = () => {
      this.hidden = true;
      if (this.media.matches)
        if (this.offsetLeft + this.clientWidth / 2 < window.innerWidth / 2) {
          this.drop.style.left = '0';
          this.drop.style.right = '';
        } else {
          this.drop.style.left = '';
          this.drop.style.right = '0';
        }
    };

    handleToggle = (ev: Event) => {
      ev.preventDefault();
      // ev.stopPropagation();
      this.hidden = !this.hidden;
    };

    handleNavigate = (ev: Event) => {
      ev.preventDefault();
      if (this.toggle.pathname)
        if (this.toggle.getAttribute('aria-current') === 'page') beep(250, 150, 75);
        else navigate(this.toggle.pathname);
    };

    handleOutside = (ev: Event) => {
      if (
        ev?.target &&
        // ev.defaultPrevented &&
        !this.contains(ev.target as Node)
      )
        this.hidden = true;
    };
  }

  customElements.define('app-dropdown', AppDropdown, { extends: 'div' });
</script>
