---
import { twMerge } from '@daks.dev/astro.sdk';
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'button'>, 'class' | 'aria-expanded' | 'aria-controls'> & {
  custom: ClassValue;
  class?: ClassValue;
  uuid?: string;
};

const { custom, class: className, uuid, 'aria-label': ariaLabel, ...props } = Astro.props;

const id = `app-drawer-toggle${uuid ? `-${uuid}` : ''}`;
const label = `${ariaLabel ?? 'управление боковой панелью'}${uuid ? ` [${uuid}]` : ''}`;
---

<app-drawer-toggle>
  <template>
    <button
      {id}
      class={twMerge('flex', className)}
      aria-label={label}
      aria-expanded='false'
      aria-controls='app-drawer'
      {...props}>
      <span
        class={twMerge('bg-only', custom)}
        set:text={label}
      />
    </button>
  </template>
</app-drawer-toggle>

<script>
  import { drawer } from './store';

  class AppDrawerToggle extends HTMLElement {
    toggle: HTMLButtonElement;

    constructor() {
      super();
      this.style.display = 'contents';
      this.appendChild(this.querySelector('template')!.content.cloneNode(true));
      this.toggle = this.querySelector('button')!;
    }

    connectedCallback() {
      drawer.listen((x) => this.toggle.setAttribute('aria-expanded', String(x)));
      this.toggle.addEventListener('click', this.handle);
    }

    // disconnectedCallback() {}

    handle = (e: Event) => {
      e.preventDefault();
      drawer.set(!drawer.get());
    };
  }

  customElements.define('app-drawer-toggle', AppDrawerToggle);
</script>
