---
import { getEntry } from 'astro:content';
import { BindLightboxData } from '@daks.dev/astro.sdk/astro';
import { Header } from '@components/astro';
import Layout from '@layouts/Base.astro';

const data = (await getEntry('gallery', 'feedbacks'))?.data.default;

const title = 'Отзывы заказчиков';
const description = 'Отзывы заказчиков';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    {
      data && (
        <BindLightboxData
          {data}
          class={['grid justify-between gap-8', 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}
          custom={{
            item: [
              'h-full',
              'bg-white',
              'shadow-sm shadow-black hover:shadow-md',
              'hover:scale-105',
              'duration-300 ease-in-out motion-safe:ready:transition'
            ]
          }}
          options={{ behaviour: 'loop' }}
          transform={{
            thumb: {
              width: 320,
              quality: 80
            },
            modal: {
              width: 800,
              fit: 'inside',
              quality: 80
            }
          }}
          sign={{ custom: 'iconify ph--arrows-out', dark: true }}
          {title}
          description='АО НИЦ «Строительная экспертиза»'
          alt='отзыв заказчика о ниц «строительная экспертиза»'
          adaptive
        />
      )
    }
  </main>
</Layout>
