---
import { getCollection, render } from 'astro:content';
import { Header, PartnerInfo, ProjectsList } from '@components/astro';
import Layout from '@layouts/Base.astro';

export async function getStaticPaths() {
  const collection = await getCollection('partners');
  return collection.map((partner) => {
    return {
      params: { id: partner.id },
      props: { partner }
    };
  });
}

const { partner } = Astro.props;
const { Content } = await render(partner);

const { id } = partner;
const { title, description, center, zoom } = partner.data;

const projects = await getCollection(
  'projects',
  ({ data }) => !data.hidden && data.customer === id
);
---

<Layout
  class='flex flex-col'
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • [${id}]`}>
  <Header
    {title}
    tagline={description}
  />

  <main
    class='frame flex grow flex-col gap-4'
    itemprop='mainContentOfPage'>
    <div class='flex justify-between gap-8 max-md:flex-col'>
      <div class='readable'>
        <PartnerInfo {partner} />
        <Content />
      </div>
    </div>
    {
      Boolean(projects.length) && (
        <ProjectsList
          class='mt-0 mb-0'
          collection={projects}
          {center}
          {zoom}
        />
      )
    }
  </main>
</Layout>
