---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

const collection = await getCollection('partners');

const title = 'Партнёры';
const description = 'Партнёры АО НИЦ «Строительная экспертиза»';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <Header
    class='mb-4'
    {title}
  />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    {
      collection.map(({ id, data: { title } }) => (
        <div>
          <small>{id}</small>
          <div class='leader'>{title}</div>
        </div>
      ))
    }
  </main>
</Layout>
