---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Icon, Video, BindCarousel, TestimonialPlaceholder } from '@lib/astro';

import microdata from '@app/configs/microdata';

const { email, telephone, address } = microdata.organization;
const addressFull = `${address.addressLocality}, ${address.streetAddress}`;

const collection = (await getCollection('gallery'))[0].data.map(({ image, caption }) => ({
  src: image,
  caption
}));

const images = await Promise.all(
  Object.values(
    import.meta.glob('@assets/images/customers/*.(avif|gif|heic|heif|jpeg|jpg|png|tiff|webp)', {
      import: 'default'
    })
  ).map(async (x) => ({ src: (await x()) as ImageMetadata }))
);
---

<Layout
  class='gap-8'
  title='НИЦ «Строительная экспертиза»'
  description='Независимая строительная экспертиза в Москве • АО НИЦ «Строительная Экспертиза»'>
  <header class='frame-xl max-2xl:mb-0'>
    <div class='grid w-full gap-8 pt-8 lg:grid-cols-12'>
      <div class='mr-auto place-self-center lg:col-span-7 2xl:col-span-8'>
        <h1
          class:list={[
            'mb-4',
            'font-extrabold leading-tight',
            'text-4xl sm:text-5xl lg:text-4xl xl:text-5xl 2xl:text-6xl',
            'dark:text-primary-200 text-primary-700',
            'text-shadow-3 shadow-gray-400 dark:shadow-gray-700'
          ]}>
          <span class='block text-[125%]'>АО НИЦ</span>
          Строительная экспертиза
        </h1>
        <p
          class:list={[
            'mb-8',
            'font-normal uppercase',
            'xs:text-md text-sm lg:text-lg',
            'text-gray-500 dark:text-gray-400'
          ]}>
          один из лидеров на строительном рынке в области консалтинга, лабораторного сопровождения
          строительства, обследования зданий и сооружений
        </p>
        <div class='xs:hidden flex justify-around'>
          <a
            class='shadow-md shadow-slate-500/20'
            href=`tel://${telephone.replace(/[\s-()]/g, '')}`
            aria-label='позвонить'>
            <span
              class='sr-only'
              set:text='позвонить'
            />
            <Icon
              icon='phone-call'
              class='size-16 text-cyan-600 dark:text-cyan-700'
            />
          </a>
          <a
            class='shadow-md shadow-slate-500/20'
            href=`mailto:${email}`
            aria-label='отправить сообщение'>
            <span
              class='sr-only'
              set:text='отправить сообщение'
            />
            <Icon
              icon='envelope'
              class='size-16 text-cyan-600 dark:text-cyan-700'
            />
          </a>
        </div>
        <div class='xs:flex hidden flex-col gap-y-2 text-slate-600 dark:text-slate-400'>
          <a
            class='text-3xl font-semibold transition duration-200 ease-in-out hover:text-sky-500 xl:text-4xl'
            href=`tel://${telephone.replace(/[\s-()]/g, '')}`>
            {telephone}
          </a>
          <a
            rel='nofollow noreferrer'
            class='text-lg transition-all duration-200 ease-in-out hover:text-sky-500 xl:text-xl'
            href={address.url}
            target='_blank'
            itemprop='url'
            set:html={addressFull}
          />
        </div>
      </div>
      <div class='hidden lg:col-span-5 lg:block 2xl:col-span-4'>
        <Video
          id='app-video'
          class:list={[
            'lazy',
            'h-auto w-full max-w-full',
            'rounded-lg border border-gray-200 dark:border-gray-700',
            'duration-2000 transition-opacity ease-in'
          ]}
          style='opacity:0'
          src='/assets/videos/00.720p.4^3.mp4'
          controls
          controls-list='nofullscreen nodownload'
          muted
          autoplay
          loop
        />
      </div>
    </div>
  </header>

  <main itemprop='mainContentOfPage'>
    <div class='frame readable'>
      <p class='leader'>Основными направлениями деятельности компании являются:</p>
      <ul>
        <li>
          Контроль качества при возведении зданий и сооружений, в т.ч. высотных, большепролетный и
          технически сложных;
        </li>
        <li>Обследование зданий и сооружений;</li>
        <li>Технический надзор;</li>
        <li>Лабораторное сопровождение строительства;</li>
        <li>Геодезическое сопровождение строительства;</li>
        <li>
          Мониторинг за возводимым зданием, а также за объектами, попадающими в геотехническую зону
          влияния;
        </li>
        <li>Выполнение работ по зимнему уходу за монолитными железобетонными конструкциями;</li>
        <li>Судебная экспертиза.</li>
      </ul>
    </div>

    <div class='frame-xl my-8 flex h-36 items-center'>
      <BindCarousel
        client='load'
        data={collection}
        transform={{
          width: 192,
          quality: 80
        }}
        filter={['title']}
        class:list={[
          'block w-full overflow-hidden',
          'rounded-xs shadow-sm shadow-gray-700 lg:rounded-sm dark:shadow-black',
          'hover:shadow-lg'
        ]}
        custom={{
          inner: {
            sign: 'top-1/2 left-1/2 h-10 w-10 -translate-1/2 opacity-50',
            caption: 'absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-sm'
          }
        }}
        href='/projects'
        ratio={4 / 3}
        show={new Map([
          [384, 2],
          [576, 3],
          [768, 4],
          [960, 5],
          [Infinity, 6]
        ])}
        appear={300}
        duration={20000}
        stream
        sign={{
          icon: 'link',
          link: true,
          dark: true
        }}
        progress
        aria-label='реализованные проекты ниц «строительная экспертиза»'
      />
    </div>

    <div class='frame readable mb-8'>
      <p class='leader'>
        Наиболее известными среди реализованных нами объектов за последние несколько лет являются:
      </p>
      <ul class='mb-8'>
        <li>обследование комплекса жилых зданий на ул.Мосфильмовской в г.Москве;</li>
        <li>
          выполнение контроля качества и лабораторного сопровождения при возведении стадиона
          Спартак;
        </li>
        <li>проведение контроля качества при возведении жилого комплекса Сетунь;</li>
        <li>
          лабораторное сопровождение строительства при возведении гостиничного комплекса на ул.
          Бахрушина в Москве;
        </li>
        <li>обследование зданий Международного Центра на Кутузовском проспекте;</li>
        <li>лабораторный контроль при возведении жилого комплекса Алые Паруса;</li>
        <li>геодезическое сопровождение при возведении жилого комплекса «Правый берег»;</li>
        <li>
          лабораторное сопровождение строительства бизнес центра «Водный» и многофункционального
          комплекса «Лотос»;
        </li>
        <li>выполнение строительного контроля при возведении памятника П.А. Столыпину.</li>
      </ul>

      <div class='mt-8 flex flex-wrap justify-center gap-16 sm:flex-nowrap'>
        <BindCarousel
          client='load'
          data={images}
          transform={{
            width: 192,
            quality: 80
          }}
          class={[
            'group',
            'block w-60 shrink-0 place-self-center overflow-hidden',
            'rounded-xs shadow-sm shadow-gray-700 lg:rounded-sm dark:shadow-gray-900',
            'hover:shadow-lg'
          ]}
          custom={{
            inner: {
              img: 'max-w-full px-8 py-4 bg-white',
              sign: 'top-2 left-2'
            }
          }}
          href='/feedback'
          alt='реализованный объект'
          show={1}
          appear={300}
          duration={1000}
          delay={5000}
          autoplay
          sign={{
            icon: 'link',
            link: true,
            dark: true
          }}
          aria-label='отзывы заказчиков ниц «строительная экспертиза»'
        />
        <div class='placeholders flex flex-col justify-center'>
          <p class='text-accent mb-8 text-sm'>
            <span class='text-xl font-bold'>&#10004;</span> Любая информация, представленная на данном
            сайте, носит исключительно информационный характер и ни при каких условиях не является публичной
            офертой, определяемой положениями статьи 437 ГК РФ.
          </p>
          <TestimonialPlaceholder />
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('astro:page-load', () => {
      const node = document.getElementById('app-video');
      node?.addEventListener('loadeddata', () => setTimeout(() => (node.style.opacity = ''), 200));
    });
  </script>
</Layout>
