---
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';
import { Figure, FormattedDate, Sign } from '@lib/astro';
import { Header } from '@components/astro';
import Layout from '@layouts/Base.astro';

import logo from '@assets/images/logo.webp';
const placeholder = await getImage({
  src: logo,
  width: 320,
  height: 180,
  fit: 'inside',
  quality: 80
});

const collection = await getCollection('news');

const gallery = (
  await Promise.all(
    collection.map(async ({ id, data: { title, description, images, poster } }) => {
      if (poster !== -1) poster = images && poster < images.length ? poster : -1;
      const src =
        images?.length && poster !== -1
          ? await getImage({
              src: images[poster].src,
              width: 320,
              height: 180,
              fit: 'cover'
            })
          : placeholder;
      return {
        id,
        src,
        poster,
        caption: {
          title,
          description
        }
      };
    })
  )
).sort((a, b) => b.id.localeCompare(a.id));

const title = 'Новости';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    <div
      class:list={[
        'grid gap-x-8 gap-y-12 max-sm:place-items-center',
        'grid-cols-1 sm:grid-cols-2 md:grid-cols-3'
      ]}>
      {
        gallery.map(({ id, src, poster, caption }) => (
          <a
            class:list={['group relative', 'w-full max-w-80', 'no-underline']}
            href={`/news/${id}`}>
            <Sign
              icon='icon-[ph--link]'
              class='left-2 top-8'
              link
              dark
            />
            <Figure
              class='pointer-events-none'
              custom={{
                img: [
                  'mb-2',
                  'h-auto w-full max-w-full',
                  'aspect-video object-contain',
                  'bg-neutral-300/10',
                  'rounded',
                  'shadow-md shadow-black group-hover:shadow-sm',
                  // 'group-hover:grayscale-0 grayscale',
                  poster === -1 && 'p-2',
                  'motion-safe:ready:transition duration-500 ease-in-out'
                ],
                caption: ['text-theme-plain group-hover:text-theme-link', 'transition-easy']
              }}
              {src}
              {caption}>
              <FormattedDate
                slot='before'
                date={id}
                parse='YY-MM-DD'
                class={[
                  'mb-2',
                  'text-theme-header group-hover:text-theme-link font-medium leading-none',
                  'transition-easy'
                ]}
              />
            </Figure>
            <small class='absolute right-2 top-8 text-black'>{id}</small>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
