---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

const collection = await getCollection('news');

const title = 'Новости';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header
    class='mb-4'
    {title}
  />

  <main class='frame' itemprop="mainContentOfPage">
    <div class='grid grid-cols-[auto_1fr] items-center gap-8'>
      {
        collection.map(({ id, data: { title, description } }) => (
            <div class='shrink-0'>
              <small>{id}</small>
              <div class='font-semibold'>{title}</div>
            </div>
            <div class='grow'>{description}</div>
        ))
      }
    </div>
  </main>
</Layout>
