---
import { twMerge } from '../../tailwind/tailwind-merge.js';
import type { NavLink } from '../index.d.ts';

type Props = NavLink & {
  base?: string;
};

const {
  class: className,
  href: __href,
  label,
  icon,
  pointer,
  prefetch,
  base = '',
  ...props
} = Astro.props;

const href = `${base}${__href}`.replace('//', '/');
const current =
  Astro.url.pathname === href || Astro.url.pathname === `${href}/`
    ? 'page'
    : Astro.url.pathname.startsWith(`${href}/`)
      ? 'step'
      : undefined;
---

<a
  class={twMerge(!pointer && 'page:disabled', className)}
  {href}
  aria-label={Astro.slots.has('default') || icon ? label : undefined}
  aria-current={current}
  data-astro-prefetch={prefetch}
  {...props}>
  <slot name='before' />
  <slot>
    {
      icon ? (
        <span
          class={twMerge('bg-only bold', icon)}
          set:html={label}
        />
      ) : (
        <Fragment set:html={label} />
      )
    }
  </slot>
  <slot name='after' />
</a>
