---
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header, Figure } from '@lib/components/astro';

import logo from '@assets/images/logo.webp';
const placeholder = await getImage({ src: logo, width: 256 });

const collection = await getCollection('projects');

const gallery = await Promise.all(
  collection.map(async ({ id: uuid, data: { images, title, description } }) => {
    const image = images?.length
      ? await getImage({
          src: images[0].src,
          width: 256,
          height: 256,
          fit: 'cover'
        })
      : placeholder;
    return {
      image,
      caption: {
        uuid,
        title,
        description
      }
    };
  })
);

const title = 'Проекты';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header
    class='mb-4'
    {title}
  />

  <main class='frame justify-center'>
    <div class='grid w-max grid-cols-[auto_1fr] items-center gap-8'>
      {
        gallery.map(({ image, caption }) => (
          <Figure
            {image}
            {caption}
          />
        ))
      }
    </div>
  </main>
</Layout>
