---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@lib/components/astro';

const gallery = await getCollection('projects');

const title = 'Проекты';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header
    class='mb-4'
    {title}
  />

  <main class='frame justify-center'>
    <div class='grid grid-cols-[auto_1fr] items-center gap-8 w-max'>
    {
      gallery.map(({ id, data: { images, title, description } }) => (
        <div>
          <small>{id}</small>
          <div class='font-semibold'>{title}</div>
          <div>{description}</div>
        </div>
        <div class="flex gap-8">
        {images?.map(({ src, alt = '' }) => (
            <Image
              class:list={['aspect-square rounded-full', 'drop-shadow-deep']}
              {src}
              width={128}
              height={128}
              {alt}
            />
          ))}
        </div>
      ))
    }
        </div>
      </main>
</Layout>
