---
import { getImage } from 'astro:assets';
import { getCollection } from 'astro:content';
import { Figure, Sign } from '@lib/astro';
import { Header } from '@components/astro';
import Layout from '@layouts/Base.astro';

import logo from '@assets/images/logo.webp';
const placeholder = await getImage({ src: logo, width: 256 });

const collection = await getCollection('projects');

const gallery = (
  await Promise.all(
    collection.map(async ({ id, data: { images, title, description } }) => {
      const image = images?.length
        ? await getImage({
            src: images[0].src,
            width: 256,
            height: 256,
            fit: 'cover'
          })
        : placeholder;
      return {
        id,
        image,
        caption: {
          title,
          description
        }
      };
    })
  )
).sort((x, y) => x.id.localeCompare(y.id));

const title = 'Проекты';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    <div class:list={['grid justify-between gap-8', 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}>
      {
        gallery.map(({ id, image: src, caption }) => (
          <a
            class='group relative'
            href={`/projects/${id}`}>
            <Sign
              icon='link'
              class='left-2 top-2'
              link
              dark
            />
            <Figure
              class:list={[
                'pointer-events-none overflow-hidden',
                'rounded-sm border border-gray-400 dark:border-gray-600',
                'shadow-md shadow-black group-hover:shadow-sm',
                'transition-easy'
              ]}
              custom={{
                img: [
                  'h-auto w-full max-w-full',
                  'transition-easy grayscale group-hover:grayscale-0'
                ],
                caption: [
                  'absolute bottom-0 left-0 flex h-20 w-full',
                  'flex-col justify-start',
                  'overflow-hidden p-2',
                  'text-ellipsis text-white',
                  'bg-gray-700/70',
                  'group-hover:opacity-0',
                  'transition-opacity duration-1000 ease-in-out'
                ]
              }}
              {src}
              {caption}
            />
            <small class='absolute right-2 top-2 text-black'>{id}</small>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
