---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@lib/components/astro';

const gallery = await getCollection('projects');

const title = 'Проекты';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main class='frame readable mt-4 flex flex-wrap justify-around gap-8'>
    {
      gallery.map(({ data: { images, title, description } }) => (
        <div class='flex flex-col items-center gap-8'>
          <p class='leader'>{title}</p>
          <p>{description}</p>
          {images?.map(({ src, alt = '' }) => (
            <Image
              class:list={['aspect-square rounded-full', 'drop-shadow-deep']}
              {src}
              width={176}
              height={176}
              {alt}
            />
          ))}
        </div>
      ))
    }
  </main>
</Layout>
