---
import { ClientRouter } from 'astro:transitions';
import { Head } from '@lib/components/astro';
import { Navbar, Drawer, Footer } from '@components/astro';

import '@styles/global.css';

import type { HTMLAttributes } from 'astro/types';
type Props = Omit<HTMLAttributes<'div'>, 'class' | 'title'> & {
  tag?: 'main' | 'article' | 'div';
  class?: ClassValue;
  title?: string;
  description?: string;
  robots?: string;
  schema?: string;
};
const {
  tag: Element = 'div',
  class: className,
  title,
  description,
  robots,
  schema = 'WebPage',
  ...props
} = Astro.props;

import app from '@app/configs/app';
// import seo from '@app/configs/seo';
// const { yandex: { counter } } = seo;
---

<html
  lang='en'
  class='theme-dark'>
  <head>
    <Head
      {title}
      {description}
      {robots}
      {app}
      rss='/rss.xml'
    />
    <ClientRouter />
  </head>

  <body
    itemscope
    itemtype={`https://schema.org/${schema}`}>
    <div class='flex min-h-screen flex-col'>
      <div
        class:list={['grow', className]}
        {...props}>
        <slot />
      </div>
      <Navbar />
      <Drawer />
      <Footer />
      <!-- YandexMetrika {counter} /-->
      <!--script>if (typeof window !== 'undefined') import('../pwa');</script-->
    </div>
  </body>
</html>
