---
import { ClientRouter } from 'astro:transitions';
import { Head, YandexMetrika, YandexMetrikaHit } from '@lib/astro';
import { Navbar, Drawer, Footer } from '@components/astro';
import type { HTMLAttributes } from 'astro/types';

import '@styles/global.css';

type Props = Omit<HTMLAttributes<'div'>, 'class' | 'title'> & {
  class?: ClassValue;
  title: string;
  description: string;
  robots?: string;
  schema?: string;
  metrika?: boolean;
};
const {
  class: className,
  title,
  description,
  robots = 'noindex, nofollow',
  schema = 'WebPage',
  metrika = true,
  ...props
} = Astro.props;

import { app, seo } from '@app/configs';
const {
  yandex: { counter }
} = seo;
---

<html
  lang='en'
  class='theme-dark'>
  <head>
    <Head
      {title}
      {description}
      {robots}
      {app}
      rss='/rss.xml'
    />
    <ClientRouter />
  </head>

  <body
    itemscope
    itemtype={`https://schema.org/${schema}`}>
    <div class='relative flex min-h-screen flex-col'>
      <div
        class:list={['flex grow flex-col', className]}
        {...props}>
        <slot />
      </div>
      <Navbar />
      <Drawer />
      <Footer />
    </div>
    {
      metrika && (
        <>
          <YandexMetrika {counter} />
          <YandexMetrikaHit
            {counter}
            {title}
          />
        </>
      )
    }
    {/* <script>if (typeof window !== 'undefined') import('../pwa');</script> */}
  </body>
</html>
