---
import { ClientRouter } from 'astro:transitions';
import { twMerge } from '@lib';
import { Head, YandexMetrika, YandexMetrikaHit } from '@lib/astro';
import { Navbar, Drawer, Footer } from '@components/astro';
import type { HTMLAttributes } from 'astro/types';

import '@styles/global.css';

type Props = Omit<HTMLAttributes<'div'>, 'class' | 'title'> & {
  schema?: string;
  class?: ClassValue;
  title: string;
  description: string;
  robots?: string;
  noMetrika?: boolean;
};
const {
  schema = 'WebPage',
  class: className,
  title,
  description,
  robots,
  noMetrika,
  ...props
} = Astro.props;

import { app, seo } from '@app/configs';
const {
  yandex: { counter }
} = seo;
---

<html
  lang='en'
  class='theme-dark'>
  <head>
    <Head
      {title}
      {description}
      {robots}
      {app}
      rss='/rss.xml'
    />
    <ClientRouter />
  </head>

  <body
    itemscope
    itemtype={`https://schema.org/${schema}`}>
    <div
      class={twMerge('relative flex min-h-screen flex-col', className)}
      {...props}>
      <slot />
      <Navbar />
      <Drawer />
      <Footer />
    </div>
    {
      !noMetrika && (
        <>
          <YandexMetrika {counter} />
          <YandexMetrikaHit
            {counter}
            {title}
          />
        </>
      )
    }
    {/*<script>if (typeof window !== 'undefined') import('../pwa')</script>*/}
  </body>
</html>
